body {
    background-color: rgb(231, 243, 247);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .container {
    position: relative;
    max-width: 1400px;
    background-color: rgb(231, 243, 247);
    padding-bottom: 50px;
  }

  .workDay {
      text-align: center;
      padding: 20px;
  }

  .timeDate,
  .timeDateTwo {
    text-align: center;
  }

  .userInput {
    position: absolute;
    right: 80px;
    left: 80px;
    height: 50px;
    padding: 20px;
    background-color: white;
    border-color: grey;
  }

  .input-group-append,
  .save {
    position: absolute;
    right: 0;
    width: 4.5rem;
    height: 50px;
  }

  .content {
    position: absolute;
    right: 20px;
    left: 20px;
  }

  .hourBlock {
    height: 50px;
    margin-bottom: 8px !important;
  }
  
  .clear {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }